.redirectbutton{
  background-color: #a31802;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-decoration: none;
  border-radius: 11px;
  font-family: sans-serif;
}

.allowbutt{
  background-color: #000;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-decoration: none;
  border-radius: 11px;
  font-family: sans-serif;
}
